@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves/Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves/Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves/Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves/Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TTHoves";
  src: url("/fonts/TTHoves/Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
